<div class="container">

    <br /><br />
    <h3 align="center">User SignIn</h3>
    <br />
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef.value)">

        <label class="col-2"> User ID </label>
        <input typpe="text" name="userName" class="col-2" ngModel /><br /><br />
        <label class="col-2">Password</label>
        <input type="password" name="userPassword" class="col-2" ngModel /><br />
        <br />
        <input type="submit" value="Login" class="col-1" />
        <br /><br />
        <input type="button" value="SignUp" (click)="signUp()" class="col-1" />
    </form>
    {{msg}}
</div>