<div>
    <h2 align="center">Your Orders</h2><br />
    <table  class="table table-bordered " *ngIf="dataLoaded">
        <thead class="thead-dark table-dark">
        <tr >
            <th scope="col">Order Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Order Status</th>
        </tr>
        </thead>
        <tbody class="table-default">
        <tr *ngFor="let e of orderArr" >
            <td >{{e._id}}</td>
            <td >{{e.orderDate}}</td>
            <td>{{e.totalPrice}}</td>
            <td>{{e.orderStatus}}</td>

        </tr>
    </tbody>
    </table>
</div>