<div class="container d-flex justify-content-center">
    <table border="2">
            <tr>
                <th>Request ID</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <th>Request Details</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <th>request Status</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
            <tr *ngFor="let pp of requests">
                    <td>{{pp._id}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>{{pp.request}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>{{pp.requestStatus}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
    </table>
</div>