<br/>
<div class="container d-flex justify-content-center">
    <table border="2" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Request ID</th>
                <th scope="col">Request Details</th>
                <th scope="col">Request Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pp of requests">
                    <td>{{pp._id}}</td>
                    <td>{{pp.request}}</td>
                    <td>{{pp.requestStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>