<div class = "container">

    <br/><br/>
    <h2 align = "center">Admin Dashboard</h2>

    <br/><br/>
                <a  href="http://localhost:4200/adminAddProduct">Add Products</a> <br/><br/>
                <a  href="http://localhost:4200/adminUpdateProduct">Update Products</a> <br/><br/>
                <a  href="http://localhost:4200/adminDeleteProduct">Delete Products</a> <br/><br/>
                <a  href="http://localhost:4200/adminViewRequest">View Requests</a> <br/><br/>
                <a  href="http://localhost:4200/adminAddEmployee">Add Employees</a> <br/><br/>
                <a  href="http://localhost:4200/adminDeleteEmplpoyee">Delete Employees</a> <br/><br/>
                <a  href="http://localhost:4200/adminGenerateRequests">Generate Reports</a> <br/><br/>
                <a  href="http://localhost:4200/adminLogout">Logout</a> <br/><br/>

</div>

