<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">AdminPanel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="switchView(0)">Add Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="switchView(1)">Update Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="switchView(2)">Delete Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="switchView(3)">View Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="switchView(4)">Add Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="switchView(5)">Delete Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="switchView(6)">Generate Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>




<!-- Holding this for reference for later -->

<!-- <div class = "container">

    <br/><br/>
    <h2 align = "center">Admin Dashboard</h2>

    <br/><br/>
                <a  href="http://localhost:4200/adminAddProduct">Add Products</a> <br/><br/>
                <a  href="http://localhost:4200/adminUpdateProduct">Update Products</a> <br/><br/>
                <a  href="http://localhost:4200/adminDeleteProduct">Delete Products</a> <br/><br/>
                <a  href="http://localhost:4200/adminViewRequest">View Requests</a> <br/><br/>
                <a  href="http://localhost:4200/adminAddEmployee">Add Employees</a> <br/><br/>
                <a  href="http://localhost:4200/adminDeleteEmplpoyee">Delete Employees</a> <br/><br/>
                <a  href="http://localhost:4200/adminGenerateRequests">Generate Reports</a> <br/><br/>
                <a  href="http://localhost:4200/adminLogout">Logout</a> <br/><br/>

</div>
 -->