<div class = "container">
    <form action = "http://localhost:4200/adminDashboard" method = "post">
        
        <br/><br/>
        <h2 align = "center">Sign In</h2>
        <br/><br/><br/>
        <label>User Name</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type = "text" name = "user" ngModel> <br/><br/><br/>
        <label>Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type = "password" name = "password" ngModel> <br/><br/><br/>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type = "submit" value = "SignIn"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      

    </form>
</div>