body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#0aa9f3ba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 10px;  
        background: #424444;  
        border-radius: 15px ;  
          
}  
h3{  
    text-align: center;  
    color: #dfdfdf;  
    padding: 10px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 1px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 1px;  
      
}  
#log{  
  width: 300px;  
  height: 40px;  
  border: none;  
  border-radius: 17px;  
  padding-left: 7px;  
  color: white;  


}  