<div class="login">
    <h3>Login </h3>
    
    <form #userRef="ngForm" (ngSubmit)="checkEmployee(userRef.value)" class="text-center border border-light p-5">
        <label>UserName</label>
        <input type="text" id="Uname" name="userName" ngModel class="col-2" required minlength="2" > <br />
        
        <label>Password</label>
        <input type="password" id="Uname" name="userPassword" class="col-2" ngModel required/> <br /><br />
        <input type="submit" id="log" value="submit" class="btn btn-primary btn-lg" /><br/>{{errmsg}}
    </form>
    

</div>