<div class=login>
    <h3>Add Funds to Your Account</h3><br />
    <div class="container center" *ngIf="dataLoaded">Current funds {{currentFunds}}</div>
    <form #userRef="ngForm" (ngSubmit)="updateFunds(userRef.value)" class="text-center border border-light p-5">

        <Label class="col-6">Enter Account No.</Label>
        <input type="number" id="Uname" name="aid" id="aid" required ngModel><br />
        <label class="col-6">Enter Amount</label>
        <input type="number" id="Uname" name="fund" required ngModel /><br /><br />
        <input type="submit" id="log" value="Update Funds" class="btn btn-primary col-2"><br />
        <span>{{updateMsg}}</span>

    </form>
</div>