<div class="container">
    <h2 align="center">Add Funds to Your Account</h2><br />
    <div class="container center" *ngIf="dataLoaded">Current funds {{currentFunds}}</div>
    <form #userRef="ngForm" (ngSubmit)="updateFunds(userRef.value)" class="text-center border border-light p-5">

        <Label class="col-2">Enter Account No.</Label>
        <input type="number" name="aid" class="col-2" id="aid" required ngModel><br />
        <label class="col-2">Enter Amount</label>
        <input type="number" name="fund" class="col-2" required ngModel /><br /><br />
        <input type="submit" value="Update Funds" class="btn btn-primary col-2"><br />
        <span>{{updateMsg}}</span>

    </form>
</div>