
<div class="container">
    <h2>Update order status</h2><br/>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>User Name</th>
            <th>User ID</th>
            <th>Current Order Status</th>
            <th>Select Order Status:</th>
        </tr>
        <tr *ngFor="let d of data">
            <td>{{d._id}}</td>
            <td>{{d.userName}}</td>
            <td>{{d.userId}}</td>
            <td>{{d.orderStatus}}</td>
            <td>
                <select [(ngModel)]="orderStatus" (change)="selectChangeHandler($event)" ngModel>
                    <option *ngFor="let status of orderStatuses" [value]="status">{{status}}
                    </option>
                </select>
                <form #statusRef="ngForm" (ngSubmit)="updateStatusData(d,statusRef.value)">
                    <input type="text" name="reasonForCancellation" ngModel />
                    <button type="submit" class="btn btn-success">Update status</button>
                </form>
            </td>
        </tr>
    </table>
</div>