<!-- <div>
    <select #selStatus>
        <option *ngFor = "let status of orderStatus" [value]="status" (click)="updateStatus(selStatus)">{{status}}
        </option>
      </select>
      {{selStatus.value}}
</div>
<div></div> -->

<!-- <div>
    <button (click)="fetchOrders()">Fetch Orders</button>
</div> -->

<!-- <div>

    <table border="1">
        <tr>
            <th>PId</th>
            <th>ProductName</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let or of orders">
                <td>{{or._id}}</td>
                <td>{{or.ProductName}}</td>
                <td>{{or.totalPrice}}</td>
        </tr>
</table>
</div> -->

<div class="container">
    <table class="table" border="1">
        <tr>
            <th>Order ID</th>
            <th>userName</th>
            <th>userId</th>
            <th>Select order status:</th>
        </tr>
        <tr *ngFor="let d of data">
            <td>{{d._id}}</td>
            <td>{{d.userName}}</td>
            <td>{{d.userId}}</td>
            <td>
                <form (ngSubmit)="updateStatus(d)">
                    <select [(ngModel)]="selectedOp">
                        <option *ngFor="let status of orderStatus" [value]="status">{{status}}
                        </option>
                    </select>
                    <button type="submit">submit</button>
                </form>
            </td>
        </tr>
    </table>
</div>