<div class = "container">
    <br/><br/>
    <h3 align = "center">User SignUp !!</h3>
    <br/>

    <form [formGroup] = "signupRef" (ngSubmit) = "registerUser()">
        <label class ="formcontrol col-2"> FirstName </label>
        <input typpe = "text"formControlName = "fname" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2"> LastName </label>
        <input typpe = "text"formControlName = "lname" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2">  UserID </label>
        <input type = "text" formControlName = "registerUser" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2"> Eamil ID </label>
        <input typpe = "email" formControlName = "useremail" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2">Password</label>
        <input type = "password" formControlName = "registerPass" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2"> Date of Birth </label>
        <input type = "date" formControlName = "userdob" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2">  Phone number </label>
        <input type = "number" formControlName = "phoneno" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2">  Address </label>
        <input type = "text" formControlName = "Address" class ="formcontrol col-2"/><br/>
        <br/>

        <input type = "submit" value = "Register" class ="formcontrol col-1"/>
        <br/><br/>
        <input type = "reset" value ="Reset" class ="formcontrol col-1"/>
    </form>
</div>